/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/

body, html {
    /*     background-color: #f6f6ff;     background-image: url("images/bg.gif");     background-repeat: repeat-x;     */
    background-color: #f9f9f9;
    background-image: url("images/bg_2.png");
    background-repeat: repeat-x;
    background-position: center top;
}

    body.plain, html.plain {
        /*     background-color: #fafafa;     background-image: url("images/bg_plain.png");     background-repeat: repeat-x;     */
        background-image: none;
        margin: 0;
        background-color: #eeeeee;
    }

    body.plainwhitelabel, html.plainwhitelabel {
        background-color: #f0f0f0;
        background-image: url("images/bg_whitelabel.gif");
        background-repeat: repeat-x;
        background-position: center top;
    }

a:link {
}

a:visited {
}

a:hover {
}

a:active {
}

p, ul, ol {
    /* margin: 0;*/
}

header, footer, nav, section {
    display: block;
    position: relative;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    /*     margin: 0;     */
}

h1 {
    color: #333;
    text-shadow: 2px 2px 4px #BBBBBB;
    margin-top: 7px;
    font-size: 38px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

h3 {
    /*
    color: #333333;
    color: #000;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-shadow: 1px 1px 2px #aaa;
    */
}

.plaintitle h3 {
    text-align: right;
    font-size: 26px;
    color: #AAAAAA; /* 	color: #ffffff; 	text-shadow: 1px 1px 0px #aaaaaa; 	font-weight: bold; 	text-shadow: rgba(0,0,0,0.4) 0px 1px 2px; 	*/
    text-shadow: none;
}

h4 {
    margin-bottom: 10px;
}

h5, h6 {
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    min-width: 960px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

body.plain .page {
    width: auto;
    max-width: none;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
    margin: 0 auto;
    width: 900px;
}

    header.plain, #header.plain {
        position: relative;
        margin-bottom: 0px;
        color: #000;
        padding: 0;
        width: auto;
    }

    header h1, #header h1 {
    }

#main {
    /*     position: relative;     */
    min-height: 300px; /*     padding: 30px 30px 15px 30px;     background-color: #f0f0f0;     border-radius: 4px 0 0 0;     -webkit-border-radius: 4px 0 0 0;     -moz-border-radius: 4px 0 0 0; */
}

footer, #footer {
    /*     background-color: #f0f0f0;     color: #999;     padding: 10px 0;     text-align: center;     line-height: normal;     margin: 0 0 30px 0;     font-size: .9em;     border-radius: 0 0 4px 4px;     -webkit-border-radius: 0 0 4px 4px;     -moz-border-radius: 0 0 4px 4px; */
}

/* TAB MENU   
----------------------------------------------------------*/
.infodiv {
    font-size: 14px;
    font-weight: bold;
}

    .infodiv hr {
        margin: 8px 0;
    }

.infobutton, .well {
    display: inline-block;
    padding: 10px;
    background-color: #FFFFFF;
    text-align: left;
    border: none;
    box-shadow: 0px 0px 3px 0px #999999;
    border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
}

.infobutton {
    border: 1px solid #bebebe;
    font-weight: bold; /*     border: 1px solid #bebebe;     */
    border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset; /*text-shadow: #444444 0px 0px 2px;*/
}

.LogOnPartial {
    display: block;
    font-size: 12px;
    line-height: 24px;
    position: absolute;
    top: 18px;
    width: auto;
    right: 15px;
    background-color: #fafafa;
    /*
    border: 1px solid #aae;
    */
    /*
    box-shadow: 0 0 2px #aaa;
*/
    padding: 5px 10px;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.logomain {
    display: block;
    vertical-align: middle;
    position: absolute;
    left: 28px;
    top: 4px;
}

body.plainwhitelabel .LogOnPartial, body.plainwhitelabel .logotitle, body.plainwhitelabel .logomain {
    display: none;
}

body.plain .LogOnPartial {
    border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    background: none;
    background-color: Transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    padding: 1px 20px;
    top: 8px;
    /*color: White;*/
}

    body.plain .LogOnPartial a {
        /*
    color: #FFFFAA;
        */
        text-decoration: underline;
    }

    body.plain .LogOnPartial label, body.plain .LogOnPartial .controls {
        display: inline-block;
    }

.LogOnPartial .control-group, .LogOnPartial .form-actions, .LogOnPartial .input-prepend, .LogOnPartial .input-append {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    background: transparent;
    background-color: transparent;
    border: none;
}

    .LogOnPartial .input-prepend .add-on, .LogOnPartial .input-append .add-on {
        background-color: transparent;
        background: none;
        text-shadow: 0 1px 0 #333333;
        border: none;
    }

.LogOnPartial fieldset {
    text-align: left;
}

.LogOnPartial label {
    /*
    color: #aaaaaa;
    */
}

.LogOnPartial .control-group, .LogOnPartial .form-actions {
    /*margin-right: 10px;*/
    margin-bottom: 5px;
}

.LogOnPartial input, .LogOnPartial textarea, .LogOnPartial select, .LogOnPartial .uneditable-input {
    height: auto;
}

.LogOnPartial a {
    /*
    color: #aaf;
    */
    text-decoration: underline;
}

.dropdown-menu .divider {
    display: block;
}

.nav-free {
    background-color: #33bb33;
}

.menu.plain .nav-free {
    background-color: transparent;
}

.label-free {
    font-size: 18px;
    background-color: #33bb33;
}

.label-price {
    color: Black;
    font-size: 15px;
    background-color: transparent;
}

.dimmed {
    color: #bbbbbb;
}

legend {
    text-align: center;
}

.header {
    height: 132px;
    position: relative;
}

body.plain .header {
    height: 120px;
}

.table {
    clear: both;
    margin-top: 0;
}

    .table td {
        vertical-align: middle;
    }

.plaintitle {
    display: block;
    position: absolute;
    top: -0px;
    right: 0px;
    text-align: center;
    width: 390px;
    text-align: center;
}

.menu {
    display: block;
    font-weight: bold;
    position: absolute;
    top: 100px;
    left: 5px;
}

.btn {
    vertical-align: middle;
}

.menu.plain, .menu.plainwhitelabel {
    display: none;
}

    .menu.plain .nav > li > a {
        color: #0088CC;
    }

.menu .nav > li > a {
    color: #333;
}

    .menu .nav > li > a:hover {
        color: Black;
    }

.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > .open.active > a:hover {
    background-color: #ccc;
}

body.plain .logotitle {
    /*
    font-weight: bold;
        */
    color: #333333;
    top: 8px;
    padding: 0px 10px;
    font-size: 19px;
    display: block;
    line-height: 24px;
    position: absolute;
    text-align: left;
    left: 220px;
}

body.plain .logo {
    top: 50px;
}

.logo {
    display: block;
    left: 10px;
    position: absolute;
    top: 20px;
}

.plainwhitelabel .logo {
    position: relative;
    top: 25px;
    text-align: center;
    left: auto;
    right: auto;
}

.menu uk, .menu li {
    display: inline;
    list-style: none;
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
}

legend {
}

textarea {
}

input[type="text"], input[type="password"] {
}

select {
}

input[type="submit"] {
}

/* TABLE
----------------------------------------------------------*/

table {
}

    table td {
    }

    table th {
    }

/* MISC  
----------------------------------------------------------*/
.nostyle {
    float: none;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, #menucontainer {
    margin-top: 20px;
}

#previewbut {
    display: inline-block;
    position: relative;
    color: Black;
    /*
    padding: 0px 15px 2px 10px;
    background-color: rgb(255, 255, 102);
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    line-height: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #333333;
*/
}

#title {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
}

#logindisplay {
    display: inline-block;
    vertical-align: middle;
}

    #logindisplay a:link {
    }

    #logindisplay a:visited {
    }

    #logindisplay a:hover {
    }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label {
}

.display-field, .editor-field {
}

.text-box {
    width: 100px;
}

    .text-box.multi-line {
    }

.tri-state {
}

.help-block {
    clear: both;
}

.add-on {
    cursor: default;
}

input, textarea, select, .uneditable-input {
    margin: 0;
}

.nav {
    margin: 0;
}

.tab-content > .active, .pill-content > .active {
    /*     background-color: white;     border-left: 1px solid #CCC;     border-right: 1px solid #CCC;     border-bottom: 1px solid #CCC;     display: block;     padding: 10px; */
}

.dataTables_wrapper label input, .dataTables_wrapper label textarea, .dataTables_wrapper label select {
    display: inline-block;
}

.dataTables_wrapper input, .dataTables_wrapper textarea, .dataTables_wrapper select, .dataTables_wrapper .uneditable-input {
    width: auto;
}

.dataTables_wrapper {
    margin-bottom: 16px;
}
/*
table.dataTable
{
    width: 100%;
}
table.dataTable th, table.dataTable td
{
    padding: 2px 8px;
    line-height: 18px;
    text-align: left;
}
table.dataTable th
{
    padding: 2px 15px;
}
table.dataTable tr.odd td.sorting_1
{
    background-color: #e0eaff;
    border-top: #aaaaee;
    border-top: none;
}
table.dataTable tr.even td.sorting_1
{
    background-color: #eeeeff;
    border-top: #aaaaee;
    border-top: none;
}
table.dataTable thead th
{
}
*/
/*
[class^="icon-"]
{
    vertical-align: baseline;
}
*/
.dataTables_processing {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 200px;
    height: 80px;
    margin-left: -125px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
    box-shadow: 0px 0px 4px #777;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    opacity: .9;
}

.dataTables_info {
    float: left;
    font-size: 12px;
}

.dataTables_paginate paging_two_button {
    float: right;
    font-size: 12px;
}

.container-fluid {
    padding-bottom: 10px;
}

.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
    background-color: #F0F0F0;
}
/* Two button pagination - previous / next */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
    height: 19px;
    cursor: pointer;
    *cursor: hand;
    color: #111 !important;
    font-size: 12px;
}

    .paginate_disabled_previous:hover,
    .paginate_enabled_previous:hover,
    .paginate_disabled_next:hover,
    .paginate_enabled_next:hover {
        text-decoration: none !important;
    }

    .paginate_disabled_previous:active,
    .paginate_enabled_previous:active,
    .paginate_disabled_next:active,
    .paginate_enabled_next:active {
        outline: none;
    }

.paginate_disabled_previous,
.paginate_disabled_next {
    color: #666 !important;
}

.paginate_disabled_previous,
.paginate_enabled_previous {
    padding-left: 23px;
    padding-top: 1px;
}

.paginate_disabled_next,
.paginate_enabled_next {
    padding-right: 23px;
    margin-left: 10px;
    padding-top: 1px;
}

.paginate_enabled_previous {
    background: url('../Scripts/DataTables-1.9.0/media/images/back_enabled.png') no-repeat top left;
}

    .paginate_enabled_previous:hover {
        background: url('../Scripts/DataTables-1.9.0/media/images/back_enabled_hover.png') no-repeat top left;
    }

.paginate_disabled_previous {
    background: url('../Scripts/DataTables-1.9.0/media/images/back_disabled.png') no-repeat top left;
}

.paginate_enabled_next {
    background: url('../Scripts/DataTables-1.9.0/media/images/forward_enabled.png') no-repeat top right;
}

    .paginate_enabled_next:hover {
        background: url('../Scripts/DataTables-1.9.0/media/images/forward_enabled_hover.png') no-repeat top right;
    }

.paginate_disabled_next {
    background: url('../Scripts/DataTables-1.9.0/media/images/forward_disabled.png') no-repeat top right;
}

/*
.sorting { background: url('../Scripts/DataTables-1.9.0/media/images/sort_both.png') no-repeat center right; }
*/

/*
.sorting_asc_disabled { background: url('../Scripts/DataTables-1.9.0/media/images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('../Scripts/DataTables-1.9.0/media/images/sort_desc_disabled.png') no-repeat center right; }
*/

.carousel .item > img {
    max-width: none;
}

.description {
    color: #999999;
    font-size: 18px;
    padding: 10px;
    display: block;
    vertical-align: top;
    line-height: 23px;
}

    .description p {
        line-height: inherit;
        font-size: inherit;
    }
