@{
    Layout = null;
    vizzopWeb.Utils utils = new vizzopWeb.Utils();
}
<div class="content-header">
    <h1>
        Realtime
    </h1>
</div>
<div id="breadcrumb">
    <a class="tip-bottom">
        <i class="icon-home"></i>
        <span style="vertical-align: middle;">Control Panel</span><a style="vertical-align: middle;" class="current">Realtime</a>
    </a>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div id="RealtimeReportResults" style="display: none;">
            <h3 id="people_count_div" style="text-align: center; text-transform: capitalize; margin: 0;" class="alert alert-success">
                Right now there are
                <span id="people_count">0</span>
                users at your Web Site
            </h3>
            <style type="text/css">
                #realtime_table th {
                    white-space: nowrap;
                }
            </style>
            <div id="no_people" class="" style="margin-top: 150px; text-align: center; display: none; width: 400px; margin: 100px auto 0;">
                <h4>We cannot detect visitors at your WebSite</h4>
                <hr />
                <p>Did you installed the vizzop script?</p>
                <p>Go to <a href="#quickstart" onclick="javascript:showQuickStart();">Widget Installation</a> to find out how to install the script.</p>
            </div>
            <!--
            <div id="realtime_graph" style="height: auto; margin: 30px auto 20px; clear: both;">
                <div id="bubbles_holder" style="height: 225px; display: block; width: 38%; display: block; float: right; margin-right: 1%;">
                </div>
                <div id="chart_holder" style="height: auto; display: block; width: 60%; display: block; float: left;">
                </div>
            </div>
            -->
            <table class="table table-striped" id="realtime_table">
                <thead>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="RealtimeReportLoading" style="margin-top: 150px;">
            <div class="loading">
                <div style="text-align: center;">
                    loading...
                </div>
                <div style="text-align: center; margin-top: 5px;">
                    <img src="@Url.Content("~/Content/images/loading.gif")" />
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function showQuickStart() {
        $('#sidebar a[href="#quickstart"]').tab('show');
    }
    var rt_update_time = new Number(1);
    var rt_Reloading_InCourse = null;
    var rt_timeout = null;
    var rt_oTable = null;
    var rt_historydata = [];
    var rt_tabledata = [];
    var rt_imagereqs = [];
    var rt_screenshots = [];
    var realtime_plot = null;
    var bubbles_plot = null;

    function rt_loadExtData() {
        var self = this;
        try {
            if (rt_Reloading_InCourse != null) {
                return false;
            }
            var msg = {
                "messagetype": "GetWebLocations"
            };
            var ws = vizzop.WSchat;
            if (ws != null) {
                if (ws.readyState === undefined || ws.readyState > 1) {
                    //Abrimos :)
                    vizzop.Daemon.openWebSockets();
                }
                if (ws.readyState == WebSocket.OPEN) {
                    rt_Reloading_InCourse = true;
                    var stringify = JSONVIZZOP.stringify(msg);
                    ws.send(stringify);
                }
            } else {
                var url = '../RealTime/GetWebLocationsJson';
                rt_Reloading_InCourse = jVizzop.ajax({
                    url: url,
                    type: "POST",
                    data: msg,
                    dataType: "json",
                    success: function (data) {
                        if (data != null) {
                            rt_tabledata = data;
                        } else {
                            rt_tabledata = [];
                        }
                        $('#RealtimeReportLoading').hide();
                        $('#RealtimeReportResults').show();
                        rt_updatetable();
                        //rt_drawchart();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        vizzoplib.logAjax(url, msg, jqXHR);
                        rt_Reloading_InCourse = null;
                        rt_Countdown();
                    }
                });
            }
        } catch (err) {
            //vizzoplib.log(err);
            rt_Reloading_InCourse = null;
            rt_Countdown();
        }
    }
    /*
    function rt_drawchart() {
        try {
            var count = 0;
            var number_of_points = new Number(61);

            if (rt_historydata != null) {
                //Recoloco indices de los que hayan quedado
                for (var i = 0; i < rt_historydata.length; i++) {
                    //meto uno primero siempre al principio
                    rt_historydata[i][1].unshift([0, 0]);
                    //Me aseguro de que nunca tienen mas de number_of_points
                    while (rt_historydata[i][1].length > number_of_points) {
                        rt_historydata[i][1].pop();
                    }
                    //Y pongo los indices como corresponden
                    for (var j = 0; j < rt_historydata[i][1].length; j++) {
                        rt_historydata[i][1][j][0] = j;
                    }
                }

            }


            if (rt_tabledata != null) {
                if (rt_tabledata.length > 0) {
                    count = rt_tabledata.length;

                    for (var i = 0; i < count; i++) {
                        try {
                            var found_in_rt_historydata = false;
                            var table_url = rt_tabledata[i][3];
                            //rt_tabledata     -> [..., ..., ..., url, ...], [..., ..., ..., url, ...]
                            //rt_historydata   -> [url, [0, 0, 1, 3, 1, 2, ...]], [url, [0, 0, 1, 3, 1, 2, ...]]

                            for (var j = 0; j < rt_historydata.length; j++) {
                                var history_url = rt_historydata[j][0];
                                if (table_url == history_url) {
                                    found_in_rt_historydata = true;

                                    rt_historydata[j][1][0][1] = new Number(rt_historydata[j][1][0][1]) + new Number(1);

                                    //(rt_historydata[j][1]);
                                }
                            }
                            if (found_in_rt_historydata == false) {
                                var elem_ = [];
                                elem_.push([
                                    0, 1
                                ]);
                                for (j = 1; j < number_of_points; j++) {
                                    elem_.push([
                                        j, 0
                                    ]);
                                }
                                var elem = [table_url, elem_];
                                rt_historydata.push(elem);
                            }
                        } catch (ex_) {
                            //(ex_);
                        }
                    }
                }
            }

            if (rt_historydata.length == 0) {
                return false;
            }
            //(rt_historydata + '');
            var points = [];
            var legend_labels = [];
            var max_value = 0;
            for (var i = 0; i < rt_historydata.length; i++) {
                var show = false;
                for (var j = 0; j < rt_historydata[i][1].length; j++) {
                    if (rt_historydata[i][1][j][1] > max_value) {
                        max_value = rt_historydata[i][1][j][1];
                    }
                    if (rt_historydata[i][1][j][1] != 0) {
                        show = true;
                    }
                }
                if (show == true) {
                    points.unshift(rt_historydata[i][1]);
                    legend_labels.unshift(rt_historydata[i][0]);
                }
            }


            var ytickInterval = 1;
            var ynewTick = max_value / 4;
            if (ynewTick > 1) {
                ytickInterval = ynewTick.toFixed();
            }

            var xdateEnd = new Date();
            var xdateStart = new Date(xdateEnd - 1 * 60000);
            var xtickInterval = '1 second';


            //var bubble_points = [[x, y, size, "Name"], ....];

            var bubble_points = [];

            var bubble_max = 0;
            var posx = 1;
            for (var i = 0; i < rt_historydata.length; i++) {
                var show = false;
                for (var j = 0; j < rt_historydata[i][1].length; j++) {
                    if (rt_historydata[i][1][j][1] > bubble_max) {
                        bubble_max = rt_historydata[i][1][j][1];
                    }
                    if (rt_historydata[i][1][j][1] != 0) {
                        show = true;
                    }
                }
                var factor = 50 * rt_historydata.length;
                var size = (rt_historydata[i][1][0][1] * factor);
                posx += size / 2;
                if (show == true) {
                    bubble_points.push([posx, 0, size, '' + size / factor]);
                }
                posx += size / 2;
            }

            if (bubbles_plot != null) {
                bubbles_plot.destroy();
            }


            bubbles_plot = $.jqplot('bubbles_holder', [bubble_points], {
                //title: 'Bubble Chart with Gradient Fills',
                seriesDefaults: {
                    renderer: $.jqplot.BubbleRenderer,
                    rendererOptions: {
                        bubbleGradients: false,
                        showLabels: true,
                        varyBubbleColors: true,
                        autoscalePointsFactor: 0.1,
                        autoscaleBubbles: true,
                        autoscaleMultiplier: 1.5
                    },
                    shadow: false
                },
                grid: {
                    drawGridLines: false,        // wether to draw lines across the grid or not.
                    gridLineColor: '#f0f0f0',    // *Color of the grid lines.
                    background: 'transparent',      // CSS color spec for background color of grid.
                    borderColor: 'transparent',     // CSS color spec for border around grid.
                    borderWidth: 2.0,           // pixel width of border around grid.
                    shadow: false,               // draw a shadow for grid.
                    shadowAngle: 45,            // angle of the shadow.  Clockwise from x axis.
                    shadowOffset: 1.5,          // offset from the line of the shadow.
                    shadowWidth: 3,             // width of the stroke for the shadow.
                    shadowDepth: 3,             // Number of strokes to make when drawing shadow.
                    // Each stroke offset by shadowOffset from the last.
                    shadowAlpha: 0.07,           // Opacity of the shadow
                    renderer: $.jqplot.CanvasGridRenderer,  // renderer to use to draw the grid.
                    rendererOptions: {}         // options to pass to the renderer.  Note, the default
                    // CanvasGridRenderer takes no additional options.
                },
                axes: {
                    xaxis: {
                        showTicks: false,
                        min: 0,
                        max: posx + 1
                    },
                    yaxis: {
                        showTicks: false,
                        min: 0 - bubble_max - 1,
                        max: bubble_max + 1
                    }
                }
            });

            if (realtime_plot != null) {
                realtime_plot.destroy();
            }

            realtime_plot = $.jqplot('chart_holder', points,
              {
                  highlighter: {
                      show: true,
                      tooltipAxes: 'y'
                  },
                  seriesDefaults: {
                      lineWidth: 3,
                      shadow: false,
                      showMarker: false,
                      markerOptions: {
                          shadow: false,
                          style: "circle",
                          size: 3
                      },
                      pointLabels: {
                          show: false,
                          location: 'ne'
                      }
                  },
                  axes: {
                      xaxis: {
                          //tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                          tickOptions: {

                              formatter: function (format, value) {
                                  if (value != '') {
                                      if (value == 0) {
                                          return "Now";
                                      } else if (value == 60) {
                                          return "";
                                      } else {
                                          return value + " seconds ago";
                                      }
                                  } else {
                                      return "";
                                  }
                              },//fontFamily: "Helvetica Neue, Helvetica, Arial, sans-serif",fontSize: "8pt"
                              showGridline: true
                          },
                          ticks: ['60', '', '', '', '', '', '', '', '', '', '', '', '', '', '45', '', '', '', '', '', '', '', '', '', '', '', '', '', '30', '', '', '', '', '', '', '', '', '', '', '', '', '', '15', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '0'],
                          min: 30,
                          max: 0,
                          pad: 0
                      },
                      yaxis: {
                          //tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                          tickOptions: {
                                //fontFamily: "Helvetica Neue, Helvetica, Arial, sans-serif",fontSize: "8pt",
                              showGridline: true,
                              formatString: '%d',
                              showGridline: true
                          },
                          showTicks: true,
                          min: 0,
                          max: max_value + 1,
                          tickInterval: ytickInterval,
                          pad: 0
                      }
                  },
                  cursor: {
                      show: false
                  },
                  legend: {
                      show: true,
                      placement: 'outsideGrid',
                      labels: legend_labels,
                      border: 'none',
                      location: 's'
                  },
                  grid: {
                      drawGridLines: true,        // wether to draw lines across the grid or not.
                      gridLineColor: '#f0f0f0',    // *Color of the grid lines.
                      background: 'transparent',      // CSS color spec for background color of grid.
                      borderColor: 'transparent',     // CSS color spec for border around grid.
                      borderWidth: 2.0,           // pixel width of border around grid.
                      shadow: false,               // draw a shadow for grid.
                      shadowAngle: 45,            // angle of the shadow.  Clockwise from x axis.
                      shadowOffset: 1.5,          // offset from the line of the shadow.
                      shadowWidth: 3,             // width of the stroke for the shadow.
                      shadowDepth: 3,             // Number of strokes to make when drawing shadow.
                      // Each stroke offset by shadowOffset from the last.
                      shadowAlpha: 0.07,           // Opacity of the shadow
                      renderer: $.jqplot.CanvasGridRenderer,  // renderer to use to draw the grid.
                      rendererOptions: {}         // options to pass to the renderer.  Note, the default
                      // CanvasGridRenderer takes no additional options.
                  }
              }
            );
        } catch (ex) {

        }
    }
    */
    function rt_Countdown() {
        setTimeout(function () {
            rt_loadExtData();
            //screenshot_oTable.screenshot_fnReloadAjax(getScreenshotURL(), function () { });
        }, 1000);
        /*
        rt_timeout = setTimeout(rt_Countdown, 3000);
        rt_loadExtData();
        */
        //rt_drawchart();
    }

    function clone(obj) {
        if (null == obj || "object" != typeof obj) return obj;
        var copy = obj.constructor();
        for (var attr in obj) {
            if (obj.hasOwnProperty(attr)) copy[attr] = obj[attr];
        }
        return copy;
    }

    function rt_updatetable() {

        if (rt_tabledata == null) {
            return;
        }

        $('#people_count').text(rt_tabledata.length);
        if (rt_tabledata.length == 0) {
            $('#realtime_table_wrapper').hide();
            $('#chart_holder').hide();
            $('#realtime_graph').hide();
            $('#no_people').show();
            //$('#people_count_div').hide();
        } else {
            $('#no_people').hide();
            //$('#people_count_div').show();
            $('#realtime_table_wrapper').show();
            $('#chart_holder').show();
            $('#realtime_graph').show();
        }

        //Vamos a poner la Tabla a 0 y repintarla
        rt_oTable.fnClearTable(false);
        rt_oTable.fnAddData(rt_tabledata);
        rt_Reloading_InCourse = null;
        rt_Countdown();
    }

    $(document).ready(function () {

        rt_oTable = $('#realtime_table').dataTable({
            "aLengthMenu": [
            [25, 50, 100, 200, -1],
            [25, 50, 100, 200, "All"]
            ],
            "iDisplayLength": -1,
            "aaData": rt_tabledata,
            "bProcessing": false,
            "bAutoWidth": false,
            'fnRowCallback': function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $('td', nRow).addClass("clickable");

            },
            "fnInitComplete": function (oSettings, json) {
            },
            "aoColumns": [
                { "sTitle": "ID", "bSearchable": false, "bVisible": true, "bSortable": true, "sWidth": "35px" },
                {
                    "sTitle": "Screenshot", "bSortable": false, "bSearchable": false, "sWidth": "150px", "bVisible": true,
                    "fnRender": function (oObj) {
                        var imgSrc = "";
                        try {
                            if (oObj == null) { return ''; }
                            if (oObj.aData == null) { return ''; }
                            imgSrc = oObj.aData[1];
                        } catch (_err) {
                        }
                        if ((imgSrc == null) || (imgSrc == '')) {
                            return '<div style="position: relative; width: 140px; height: 90px; text-align: center; vertical-align: middle; border-radius: 10px; background-color: rgb(238, 238, 238); color: rgb(170, 170, 170); display: table-cell;"><div style="text-align: center; font-size: 12px;">no image</div></div>';
                        } else {
                            return '<div style="position: relative; width: 140px; height: 90px; border-radius: 10px;"><img src="' + imgSrc + '"/></div>';
                        }
                    }
                },
                { "sTitle": "Width", "sWidth": "40px" },
                { "sTitle": "Height", "sWidth": "40px" },
                { "sTitle": "URL" },
                { "sTitle": "Lang", "sWidth": "40px" },
                { "sTitle": "Ubication", "sWidth": "100px" },
                {
                    "sTitle": "Browser", "sWidth": "120px",
                    "fnRender": function (oObj) {
                        var useragent_toCompare = '';
                        try {
                            if (oObj == null) { return ''; }
                            if (oObj.aData == null) { return ''; }
                            useragent_toCompare = oObj.aData[7];
                        } catch (_err) {
                        }
                        if ((useragent_toCompare == null) || (useragent_toCompare == '')) {
                            return '';
                        }

                        useragent_toCompare = useragent_toCompare.toLowerCase();

                        var useragent = "";

                        if (useragent_toCompare.indexOf("windows") > -1) {
                            useragent += " Windows ";
                        } else if (useragent_toCompare.indexOf("os x") > -1) {
                            useragent += " OSX ";
                        } else if (useragent_toCompare.indexOf("android") > -1) {
                            useragent += " Android ";
                        } else if (useragent_toCompare.indexOf("ios") > -1) {
                            useragent += " IOS ";
                        } else if (useragent_toCompare.indexOf("ipod") > -1) {
                            useragent += " IOS ";
                        } else if (useragent_toCompare.indexOf("ipad") > -1) {
                            useragent += " IOS ";
                        } else if (useragent_toCompare.indexOf("iphone") > -1) {
                            useragent += " IOS ";
                        }


                        if (useragent_toCompare.indexOf("firefox") > -1) {
                            useragent += " Firefox ";
                        } else if (useragent_toCompare.indexOf("chrome") > -1) {
                            useragent += " Chrome ";
                        } else if (useragent_toCompare.indexOf("trident") > -1) {
                            useragent += " Internet Explorer ";
                        }

                        if (useragent == "") {
                            useragent = oObj.aData[7];
                        }

                        return useragent;
                    }
                },
                { "sTitle": "Referrer", "sWidth": "200px", "bVisible": false },
                { "sTitle": "First Access Machine", "bSearchable": false, "bVisible": false, "sType": "date" },
                { "sTitle": "First Access", "bSearchable": false, "bVisible": true, "sType": "date", "iDataSort": 9, "sWidth": "90px" },
                { "sTitle": "Last Active Machine", "bSearchable": false, "bVisible": false, "sType": "date" },
                { "sTitle": "Last Active", "bSearchable": false, "bVisible": true, "sType": "date", "iDataSort": 11, "sWidth": "90px" },
                { "sTitle": "Name", "bSearchable": false, "bVisible": false, "bSortable": false },
                { "sTitle": "UserName", "bSearchable": false, "bVisible": false, "bSortable": false },
                { "sTitle": "Domain", "bSearchable": false, "bVisible": false, "bSortable": false },
                { "sTitle": "Password", "bSearchable": false, "bVisible": false, "bSortable": false },
                { "sTitle": "WindowName", "bSearchable": false, "bVisible": false, "bSortable": false }
            ]
        });
        //rt_updatetable();
        $("#realtime_table tbody tr").live("click", function (event) {
            var id = rt_oTable.fnGetData(this)[0];
            var fullname = rt_oTable.fnGetData(this)[13];
            if (fullname == "-") {
                fullname = '@utils.LocalizeLang("anon_client", utils.GetLang(Context), null)';
            }
            var username = rt_oTable.fnGetData(this)[14];
            var domain = rt_oTable.fnGetData(this)[15];
            var password = rt_oTable.fnGetData(this)[16];
            var windowname = rt_oTable.fnGetData(this)[17];
            var scrwidth = rt_oTable.fnGetData(this)[2];
            //console.log(scrwidth);
            if (vizzop.Daemon != null) {

                var client = {
                    "UserName": username,
                    "FullName": fullname,
                    "Password": password,
                    "WindowName": windowname,
                    "Business": { "Domain": domain },
                };

                var found = false;
                jVizzop.each(vizzop.Boxes, function (index, foundbox) {
                    if ((typeof foundbox._interlocutor != "undefined") && (foundbox._interlocutor != null)) {
                        if (foundbox.CheckIfInterlocutorIsInList(client) == true) {
                            foundbox.bringtofrontBox();
                            found = true;
                            return false;
                        }
                    }
                });

                if (found == false) {
                    var agentmessagebox = new AgentMessageBox();
                    agentmessagebox.AddInterlocutor(client);
                    agentmessagebox._apikey = vizzop.ApiKey;

                    /*
                    if ((scrwidth == null) || ((scrwidth == ''))) {
                        agentmessagebox.fillBox_RequestScreenView();
                    } else {
                        agentmessagebox.fillBox_RequestScreenView();
                    }
                    */
                    agentmessagebox.fillBox_RequestScreenView();
                    agentmessagebox.bringtofrontBox();
                }
            }

        });
        rt_Countdown();
    });
</script>
