@{
    ViewBag.Title = "Log Off";
}
<br />
<br />
<div style="width: 300px; margin: 0 auto 0;">
    <img src="~/Content/images/logo.png" />
</div>
<br />
<div style="width: 400px; text-align: center; display: block; margin: 0 auto;" class="well">
    <h4>You are no longer logged in.</h4>
</div>
