@model vizzopWeb.Models.Business
@{
    ViewBag.Title = "Password Reminder Sent - vizzop";
}
<br />
<br />
<div style="width: 300px; margin: 0 auto;">
    <img src="~/Content/images/logo.png" />
</div>
<br />
<div class="well" style="display: block; width: 500px; margin: 0 auto;">
    <fieldset>
        <legend>
            <h3>Reminder e-mail sent successfully</h3>
        </legend>
        <h5>Please check your e-mail to find how to reset your password.</h5>
    </fieldset>
</div>
