/*!
* CleanSlate
*   github.com/premasagar/cleanslate
*
*//*
    An extreme CSS reset stylesheet, for normalising the styling of a container element and its children.

    by Premasagar Rose
        dharmafly.com

    license
        opensource.org/licenses/mit-license.php

    **
        
    v0.9.2
        
*/

/* == BLANKET RESET RULES == */

/* HTML 4.01 */
.zs_dialog, .zs_dialog h1, .zs_dialog h2, .zs_dialog h3, .zs_dialog h4, .zs_dialog h5, .zs_dialog h6, .zs_dialog p, .zs_dialog td, .zs_dialog dl, .zs_dialog tr, .zs_dialog dt, .zs_dialog ol, .zs_dialog form, .zs_dialog select, .zs_dialog option, .zs_dialog pre, .zs_dialog div, .zs_dialog table,  .zs_dialog th, .zs_dialog tbody, .zs_dialog tfoot, .zs_dialog caption, .zs_dialog thead, .zs_dialog ul, .zs_dialog li, .zs_dialog address, .zs_dialog blockquote, .zs_dialog dd, .zs_dialog fieldset, .zs_dialog li, .zs_dialog iframe, .zs_dialog strong, .zs_dialog legend, .zs_dialog em, .zs_dialog s, .zs_dialog cite, .zs_dialog span, .zs_dialog input, .zs_dialog sup, .zs_dialog label, .zs_dialog dfn, .zs_dialog object, .zs_dialog big, .zs_dialog q, .zs_dialog font, .zs_dialog samp, .zs_dialog acronym, .zs_dialog small, .zs_dialog img, .zs_dialog strike, .zs_dialog code, .zs_dialog sub, .zs_dialog ins, .zs_dialog textarea, .zs_dialog var, .zs_dialog a, .zs_dialog abbr, .zs_dialog applet, .zs_dialog del, .zs_dialog kbd, .zs_dialog tt, .zs_dialog b, .zs_dialog i, .zs_dialog hr,

/* HTML5 */
.zs_dialog article, .zs_dialog aside, .zs_dialog dialog, .zs_dialog figure, .zs_dialog footer, .zs_dialog header, .zs_dialog hgroup, .zs_dialog menu, .zs_dialog nav, .zs_dialog section, .zs_dialog time, .zs_dialog mark, .zs_dialog audio, .zs_dialog video {
	background-attachment:scroll !important;
	background-color:transparent !important;
	background-image:none !important; /* This rule affects the use of pngfix JavaScript http://dillerdesign.com/experiment/DD_BelatedPNG for IE6, which is used to force the browser to recognise alpha-transparent PNGs files that replace the IE6 lack of PNG transparency. (The rule overrides the VML image that is used to replace the given CSS background-image). If you don't know what that means, then you probably haven't used the pngfix script, and this comment may be ignored :) */
	background-position:0 0 !important;
	background-repeat:repeat !important;
	border-color:black !important;
	border-color:currentColor !important; /* `border-color` should match font color. Modern browsers (incl. IE9) allow the use of "currentColor" to match the current font 'color' value <http://www.w3.org/TR/css3-color/#currentcolor>. For older browsers, a default of 'black' is given before this rule. Guideline to support older browsers: if you haven't already declared a border-color for an element, be sure to do so, e.g. when you first declare the border-width. */
	border-radius:0 !important;
	border-style:none !important;
	border-width:medium !important;
	bottom:auto !important;
	clear:none !important;
	clip:auto !important;
	color:inherit !important;
	counter-increment:none !important;
	counter-reset:none !important;
	cursor:auto !important;
	direction:inherit !important;
	display:inline !important;
	float:none !important;
	font-family: inherit !important; /* As with other inherit values, this needs to be set on the root container element */
	font-size: inherit !important;
	font-style:inherit !important;
	font-variant:normal !important;
	font-weight:inherit !important;
	height:auto !important;
	left:auto !important;
	letter-spacing:normal !important;
	line-height:inherit !important;
	list-style-type: inherit !important; /* Could set list-style-type to none */
	list-style-position: outside !important;
	list-style-image: none !important;
	margin:0 !important;
	max-height:none !important;
	max-width:none !important;
	min-height:0 !important;
	min-width:0 !important;
	opacity:1;
	outline:invert none medium !important;
	overflow:visible !important;
	padding:0 !important;
	position:static !important;
	quotes: "" "" !important;
	right:auto !important;
	table-layout:auto !important;
	text-align:inherit !important;
	text-decoration:inherit !important;
	text-indent:0 !important;
	text-transform:none !important;
	top:auto !important;
	unicode-bidi:normal !important;
	vertical-align:baseline !important;
	visibility:inherit !important;
	white-space:normal !important;
	width:auto !important;
	word-spacing:normal !important;
	z-index:auto !important;
	
	/* Proprietary and draft rules */
    /* This section needs extending */
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
	-moz-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important;
	text-shadow: none !important;	
}

/* == BLOCK-LEVEL == */
/* Actually, some of these should be inline-block and other values, but block works fine (TODO: rigorously verify this) */
/* HTML 4.01 */
.zs_dialog, .zs_dialog h3, .zs_dialog h5, .zs_dialog p, .zs_dialog h1, .zs_dialog dl, .zs_dialog dt, .zs_dialog h6, .zs_dialog ol, .zs_dialog form, .zs_dialog select, .zs_dialog option, .zs_dialog pre, .zs_dialog div, .zs_dialog h2, .zs_dialog caption, .zs_dialog h4, .zs_dialog ul, .zs_dialog address, .zs_dialog blockquote, .zs_dialog dd, .zs_dialog fieldset, .zs_dialog textarea, .zs_dialog hr,
/* HTML5 new elements */
.zs_dialog article, .zs_dialog aside, .zs_dialog dialog, .zs_dialog figure, .zs_dialog footer, .zs_dialog header, .zs_dialog hgroup, .zs_dialog menu, .zs_dialog nav, .zs_dialog section {
    display:block !important; 
}
.zs_dialog table {
    display: table !important;
}
.zs_dialog thead {
    display: table-header-group !important;
}
.zs_dialog tbody {
    display: table-row-group !important;
}
.zs_dialog tfoot {
    display: table-footer-group !important;
}
.zs_dialog tr {
    display: table-row !important;
}
.zs_dialog th, .zs_dialog td {
    display: table-cell !important;
}
/* == SPECIFIC ELEMENTS == */
/* Some of these are browser defaults; some are just useful resets */

.zs_dialog nav ul, .zs_dialog nav ol {
	list-style-type:none !important;
}
.zs_dialog ul, .zs_dialog menu {
	list-style-type:disc !important;
}
.zs_dialog ol {
	list-style-type:decimal !important;
}
.zs_dialog ol ul, .zs_dialog ul ul, .zs_dialog menu ul, .zs_dialog ol menu, .zs_dialog ul menu, .zs_dialog menu menu {
	list-style-type:circle !important;
}
.zs_dialog ol ol ul, .zs_dialog ol ul ul, .zs_dialog ol menu ul, .zs_dialog ol ol menu, .zs_dialog ol ul menu, .zs_dialog ol menu menu, .zs_dialog ul ol ul, .zs_dialog ul ul ul, .zs_dialog ul menu ul, .zs_dialog ul ol menu, .zs_dialog ul ul menu, .zs_dialog ul menu menu, .zs_dialog menu ol ul, .zs_dialog menu ul ul, .zs_dialog menu menu ul, .zs_dialog menu ol menu, .zs_dialog menu ul menu, .zs_dialog menu menu menu {
	list-style-type:square !important;
}
.zs_dialog li {	
	display:list-item !important;
	/* Fixes IE7 issue with positioning of nested bullets */
	min-height:auto !important;
	min-width:auto !important;
}
.zs_dialog strong {
	font-weight:bold !important;
}
.zs_dialog em {
	font-style:italic !important;
}
.zs_dialog kbd, .zs_dialog samp, .zs_dialog code {
  font-family:monospace !important;
}
.zs_dialog a, .zs_dialog a *, .zs_dialog input[type=submit], .zs_dialog input[type=radio], .zs_dialog input[type=checkbox], .zs_dialog select {
	cursor:pointer !important;
}
.zs_dialog a:hover {
	text-decoration:underline !important;
}
.zs_dialog button, .zs_dialog input[type=submit] {
  text-align: center !important;
}
.zs_dialog input[type=hidden] {
	display:none !important;
}
.zs_dialog abbr[title], .zs_dialog acronym[title], .zs_dialog dfn[title] {
	cursor:help !important;
    border-bottom-width:1px !important;
	border-bottom-style:dotted !important;
}
.zs_dialog ins {
	background-color:#ff9 !important;
	color:black !important;
}
.zs_dialog del {
	text-decoration: line-through !important;
}
.zs_dialog blockquote, .zs_dialog q  {
	quotes:none !important; /* HTML5 */
}
.zs_dialog blockquote:before, .zs_dialog blockquote:after, .zs_dialog q:before, .zs_dialog q:after, .zs_dialog li:before, .zs_dialog li:after  {
	content:"" !important;
}
.zs_dialog input, .zs_dialog select {
	vertical-align:middle !important;
}
.zs_dialog select, .zs_dialog textarea, .zs_dialog input {
	border:1px solid #ccc !important;
}
.zs_dialog table {
	border-collapse:collapse !important;
	border-spacing:0 !important;
}
.zs_dialog hr {
	display:block !important;
	height:1px !important;
	border:0 !important;
	border-top:1px solid #ccc !important;
	margin:1em 0 !important;
}
.zs_dialog *[dir=rtl] {
	direction: rtl !important;
}
.zs_dialog mark {
	background-color:#ff9 !important;
	color:black !important;
	font-style:italic !important;
	font-weight:bold !important;
}



/* == ROOT CONTAINER ELEMENT == */
/* This contains default values for child elements to inherit  */
.zs_dialog {
	font-size: medium !important;
	line-height: 1 !important;
	direction:ltr !important;
	text-align:left !important;
	font-family: "Times New Roman", Times, serif !important; /* Override this with whatever font-family is required */
	color: black !important;
	font-style:normal !important;
	font-weight:normal !important;
	text-decoration:none !important;
	list-style-type:disc !important;
}