@{
    ViewBag.Title = "vizzop - Error";
}
<center>
    <br />
    <br />
    <div style="width: 400px; text-align: center;" class="well">
            <div style="width: 300px; margin: 0 auto 0;">
                <img src="~/Content/images/logo.png" />
            </div>
        <br />
        <h3>Uh-oh...</h3>
    <h3>Some error has ocurred, we apologize for the circumstances.</h3>
    <br />
    <h4>Please <a href="mailto:customer.service@vizzop.com">contact us</a> and we will try to help you A.S.A.P.</h4>
    <br />
</div>
